<h1>BIENVENIDO! EXPLORA NUESTROS PRODUCTOS! :D</h1>

<div class="personalData">
    <h2>Tus datos personales:</h2>
    <p><strong>Nombre completo:</strong> {{user.name}}</p>
    <p><strong>Email:</strong> {{user.email}}</p>
    <p><strong>Años:</strong> {{user.age}}</p>
    <p><strong>Rol de usuario:</strong> {{user.role}}</p>

    <button id="logout">Cerrar sesión</button>
</div>

<br>
<h2>Página actual: {{actualPage}}</h2>
<br>

<div>
    <button id="prevPageButton">Página anterior</button>
    <button id="nextPageButton">Página siguiente</button>
</div>
<br>

{{#if products.length}}
<div id="container">
    {{#each products}}
    <div class="productsList" data-id="{{_id}}">
        <h2>Producto número: {{@index}}</h2>
        <p>
            <strong>Nombre: </strong>{{title}}
        </p>
        <p>
            <strong>Descripción: </strong>{{description}}
        </p>
        <p>
            <strong>Precio: </strong>{{price}}
        </p>
        <p>
            <strong>Categoría: </strong>{{category}}
        </p>
        <p>
            <strong>Código: </strong>{{code}}
        </p>
        <p>
            <strong>Existencias: </strong>{{stock}}
        </p>
        <p>
            <strong>Id del producto: </strong>{{_id}}
        </p>
        <br>
        <button class="addToCartButton">Agregar al carrito!</button>
    </div>
    <br>
    {{/each}}
</div>
{{else}}
<div>
    <h2>Actualmente no hay más productos D:</h2>
</div>
{{/if}}

<script src="/js/products.js" data-actualPage="{{actualPage}}" data-hasPrevPage={{hasPrevPage}}
    data-hasNextPage={{hasNextPage}}></script>